body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.terminal-container {
    width: 60%;
    height: 60%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.terminal-window {
    background-color: #333;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title-bar {
    background-color: #313136;
    height: 25px;
    border-radius: 12px 12px 0 0;
    font-size: 1em;
    text-align: center;
    line-height: 25px;
    position: relative;
}

.red-button {
    background-color: #d63a3a;
    height: 12.5px;
    width: 12.5px;
    border-radius: 50%;
    position: absolute;
    left: 12.5px;
    top: 6px;
}

.title {
    color: white;
    display: inline-block;
    margin-left: 24px; /* Adjust as needed */
}

.terminal-body {
    padding: 20px;
    color: white;
    overflow: auto;
    flex-grow: 1; /* Allow terminal body to expand to fill remaining space */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center text content */
}



